APP_NAME=POS SaaS Backend
APP_ENV=local
APP_PORT=8080
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=5433
DB_DATABASE=pos_saas_db
DB_USERNAME=pos_user
DB_PASSWORD=pos_password
DB_SSLMODE=disable

JWT_SECRET=pos_saas_local_secret_change_me
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60