# Environment
.env
.env.migration

# Go
tmp/
bin/
*.exe
*.test
coverage.out

# Uploads
uploads/*

# Keep upload folders
!uploads/.gitkeep
!uploads/products/
!uploads/products/.gitkeep

# Docker / Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/